/* SPDX-License-Identifier: MIT */
/ {
	chosen {
		app,host-link-uart = &cdc_acm_uart0;
	};
};

&uart20 {
	current-speed = <921600>;
};

&zephyr_udc0 {
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CS Client";
		tx-fifo-size = <4096>;
		rx-fifo-size = <512>;
	};
};
